<!doctype html>
<html lang="en">
	<head>
		<%- include('head') %>

		<link rel="stylesheet" type="text/css" href="/css/map.css">

		<title>Fortunate Maps - Map</title>
	</head>
	<body>
		<%- include('nav'); %>

		<main role="main" class="container">
			<div class="row">
				<div class="col-8">
					<div class="card">
						<img src="/preview/<%- map.mapID %>" class="card-img-top mt-2" alt="...">
						<div class="card-body">
							<div class="text-center">
								<h5 class="card-title">
									<b><%= map.name %></b> by <b><%= map.authorName %></b>
								</h5>
								<!-- <p class="card-text">Look at this map.</p> -->
							</div>
							<hr>
							<div class="btn-group w-100" role="group" aria-label="Basic example">
								<a type="button" class="btn btn-primary" href="/test/<%- map.mapID %>">Test</a>
								<a type="button" class="btn btn-primary" href="/preview/<%- map.mapID %>">Fullsize Preview</a>
								<a type="button" class="btn btn-primary" href="/png/<%- map.mapID %>">.PNG</a>
								<a type="button" class="btn btn-primary" href="/json/<%- map.mapID %>">.JSON</a>
								<a type="button" class="btn btn-primary" href="/editor?mapid=<%- map.mapID %>">Remix this map</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="card stats-card">
						<div class="card-body">
							<div class="dropdown w-100">
								<button class="btn btn-primary w-100 dropdown-toggle" type="button" id="dropdownVersionsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Versions
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownVersionsButton">
									<%- mapVersions.map(map => `
										<a class="dropdown-item" href="/map/${map.mapID}">
											${`${map.name} by ${map.authorName} (${map.mapID})`.replace(/</gi, "&lt;").replace(/>/gi, "&gt;")}
										</a>
									`).join("") %>
								</div>
							</div>
							<div class="dropdown w-100 mt-2">
								<button class="btn btn-primary w-100 dropdown-toggle" type="button" id="dropdownRemixesButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Remixes
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownRemixesButton">
									<%- mapRemixes.map(map => `
										<a class="dropdown-item" href="/map/${map.mapID}">
											${`${map.name} by ${map.authorName} (${map.mapID})`.replace(/</gi, "&lt;").replace(/>/gi, "&gt;")}
										</a>
									`).join("") %>
								</div>
							</div>
							<hr>
							<!-- <p>Maybe some stats on the map go here or something</p> -->
						</div>
					</div>
				</div>
			</div>
			<hr>
		</main>

		<%- include('bodyscripts') %>
	</body>
</html>