<!doctype html>
<html lang="en">
	<head>
		<%- include('head') %>
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
		<link rel="stylesheet" type="text/css" href="/css/map.css">

		<title>Fortunate Maps - Map</title>
	</head>
	<body>
		<%- include('nav'); %>

		<main role="main" class="container">
			<div class="row mb-2">
				<div class="col-md-8">
					<div class="card">
						<img
							src="data:image/png;base64,<%- map.png %>"
							data-lazyrendermode="pixelated"
							data-src="/preview/<%- map.mapID %>.jpeg"
							class="card-img-top"
							alt="<%- map.name %> by <%- map.authorName %>"
						/>
						<div class="card-body">
							<div class="text-center">
								<h5 class="card-title">
									<b><%- map.name %></b> by <b><%- map.authorName %></b>
								</h5>
								<!-- <p class="card-text">Look at this map.</p> -->
							</div>
							<hr>
							<div class="btn-group w-100" role="group" aria-label="Map Controls">
								<a type="button" class="btn btn-primary" href="/test/<%- map.mapID %>">Test</a>
								<a type="button" class="btn btn-primary" href="/preview/<%- map.mapID %>">Fullsize Preview</a>
								<a type="button" class="btn btn-primary" href="/png/<%- map.mapID %>">.PNG</a>
								<a type="button" class="btn btn-primary" href="/json/<%- map.mapID %>">.JSON</a>
								<a type="button" class="btn btn-primary" href="/editor?mapid=<%- map.mapID %>">Remix this map</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card stats-card">
						<div class="card-body">
							<div class="dropdown w-100">
								<button class="btn btn-primary w-100 dropdown-toggle" type="button" id="dropdownVersionsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Versions
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownVersionsButton">
									<%- mapVersions.map(map => {
										let fullMapName = `${map.name} by ${map.authorName}`;
										let truncatedName = fullMapName.slice(0, 34);

										fullMapName = `${truncatedName}${truncatedName.length < fullMapName.length ? "..." : ""} (${map.mapID})`;
										return `
											<a class="dropdown-item" href="/map/${map.mapID}">
												${`${fullMapName}`}
											</a>
										`;
									}).join("") %>
								</div>
							</div>
							<div class="dropdown w-100 mt-2">
								<button class="btn btn-primary w-100 dropdown-toggle" type="button" id="dropdownRemixesButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Remixes
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownRemixesButton">
									<%- mapRemixes.map(map => {
										let fullMapName = `${map.name} by ${map.authorName}`;
										let truncatedName = fullMapName.slice(0, 34);

										fullMapName = `${truncatedName}${truncatedName.length < fullMapName.length ? "..." : ""} (${map.mapID})`;
										return `
											<a class="dropdown-item" href="/map/${map.mapID}">
												${`${fullMapName}`}
											</a>
										`;
									}).join("") %>
								</div>
							</div>
							<hr>
							<%- map.authorIDs.includes(profileID) || isAdmin ? `
							<button class="btn btn-primary w-100" data-toggle="modal" data-target="#mapSettingsModal">Map Settings</button>
							<hr>
							` : "" %>
							<div class="map-data">
								<table class="data-table">
									<tbody>
										<tr>
											<td>Upload Date</td>
											<td data-map-property="date">
												<%- map.dateUploaded.toLocaleString() %>
											</td>
										</tr>
										<tr>
											<td>Authors</td>
											<td>
												<%-
													map.authorIDs.length === 0 ? "Anonymous" :
													map.authorIDs.map(id => `<a class="profile-link" href="/profile/${id}" target="_blank">${id}</a>`).join(", ")
												%>
											</td>
										</tr>
										<tr>
											<td>Tags</td>
											<td>
												<%-
													map.tags.length !== 0 ? map.tags.map(tag => {
														let tagData = SETTINGS.SITE.TAGS[tag.toUpperCase()];
														return tagData ? `<span
															class="tag badge badge-primary"
															style="background: ${tagData.backgroundColor}; color: ${tagData.textColor}"
														>${tag.name || tagData.name}</span>` :
														`<span class="tag badge badge-primary">${tag}</span>`;
													}).join("") : "None"
												%>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<hr>
							<pre class="map-description"><%- map.description %></pre>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="comment-editor-container mb-2">
				<div class="markdown-container">
					<textarea id="commentInput"></textarea>
				</div>
				<button class="btn btn-primary w-100" id="submitCommentBtn">Submit</button>
				<hr>
			</div>
			<div class="card mb-2">
				<div class="card-header">
					Comments
				</div>
				<div class="card-body" id="commentsContainer">
					
				</div>
			</div>
		</main>

		<div class="modal fade" id="mapSettingsModal" tabindex="-1" aria-labelledby="mapSettingsModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="mapSettingsModalLabel">Map Settings</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<b>Map Name and Author:</b>
						<div class="input-group mt-2">
							<input type="text" class="form-control" id="mapNameInput" value="<%- map.name %>" maxlength="<%- SETTINGS.SITE.MAP_NAME_LENGTH %>" placeholder="Map Name">
							<input type="text" class="form-control" id="mapAuthorInput" value="<%- map.authorName %>" maxlength="<%- SETTINGS.SITE.AUTHOR_LENGTH %>" placeholder="Map Author">
						</div>
						<hr>

						<b class="tag-container">Authors: <span id="authorsDisplay"></span></b>
						<div class="input-group mt-2" id="authorsGroup">
							<input type="text" class="form-control" id="authorsInput" placeholder="Author ID or Username" maxlength="24" autocomplete="no">
							<div class="input-group-append">
								<button type="button" class="btn btn-secondary" id="addAuthorBtn">Add</button>
							</div>
						</div>
						<ul id="authorSearchList"></ul>

						<p></p>

						<b class="tag-container">Tags: <span id="tagsDisplay">
							
						</span></b>
						<div class="input-group mt-2" id="tagsGroup">
							<input type="text" class="form-control" id="tagsInput" placeholder="Tag Name" maxlength="<%- SETTINGS.SITE.TAG_NAME_MAX_LENGTH %>">
							<div class="input-group-append">
								<button type="button" class="btn btn-secondary" id="addTagBtn">Add</button>
								<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu">
									<%- Object.keys(SETTINGS.SITE.TAGS).map(key => {
										if(!isAdmin && SETTINGS.SITE.ADMIN_ONLY_TAGS.includes(key)) return "";
										return `<a class="dropdown-item" href="javascript:void(0)" data-type="${key}">${SETTINGS.SITE.TAGS[key].name}</a>`;
									}).join("") %>
								</div>
							</div>
						</div>
						<hr/>
						<b>Description:</b>
						<textarea class="form-control" id="descriptionText"></textarea>
						<hr>
						<div class="input-group w-100">
							<div class="input-group-prepend">
								<span class="input-group-text">Unlisted</span>
							</div>
							<div class="input-group-append">
								<div class="input-group-text">
									<input type="checkbox" id="unlistedCheck" <%- map.unlisted ? "checked" : "" %>>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="saveMapSettings">Save changes</button>
					</div>
				</div>
			</div>
		</div>

		<footer class="py-3 bg-primary text-light">
			<div class="container">
				<p class="text-center m-0">Developed by Electro ⚡</p>
			</div>
		</footer>

		<script type="text/javascript">window.MAP_DATA = <%- JSON.stringify(map) %></script>

		<%- include('bodyscripts') %>
		<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
		<script type="text/javascript" src="/js/tag_input.js"></script>
		<script type="text/javascript" src="/js/map.js"></script>
	</body>
</html>