<!doctype html>
<html lang="en">
	<head>
		<%- include('head') %>

		<link rel="stylesheet" type="text/css" href="/css/profile.css">

		<title>Fortunate Maps - Profile</title>
	</head>
	<body>
		<%- include('nav'); %>
		<div class="banner">
			<% if (bannerMap) { %>
				<img class="profile-banner-img" alt="Profile Banner" data-quality="hq" data-compressed-layout="<%- bannerMap.png %>" data-compressed-logic="<%- bannerMap.json %>" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
			<% } %>
		</div>
		<main role="main" class="container">
			<div class="banner-overlay">
				<h2 class="profile-username"><%- user.username %></h2>
				<% if (isOwner) { %>
					<a href="/reset_password" class="btn btn-sm btn-outline-light ml-3">Reset Password</a>
				<% } %>
			</div>

			<div class="row" id="mainRow">
				<div class="col-md-6">
					<div class="card">
						<div class="card-body">
							<div class="bio-text" id="bioText" markdown="<%= user.bio || `*${SETTINGS.FILLERS.BIO[Math.floor(Math.random() * SETTINGS.FILLERS.BIO.length)]}*`%>">
							</div>
							<hr>
							<div class="social-container">
								<div class="social-expander" <%- user.tagproProfile ? "" : "style='display:none'" %>>
									<img class="social-icon" src="https://tagpro.koalabeast.com/favicon.ico">
									<p class="social-handle">
										<a href="https://tagpro.koalabeast.com/profile/<%- user.tagproProfile %>" target="_blank"><%- user.tagproProfile %></a>
									</p>
								</div>
								<div class="social-expander" <%- user.social.discord ? "" : "style='display:none'" %>>
									<img class="social-icon" src="/assets/discord.png">
									<p class="social-handle"><%- user.social.discord %></p>
								</div>
								<div class="social-expander" <%- user.social.reddit ? "" : "style='display:none'" %>>
									<img class="social-icon" src="https://www.reddit.com/favicon.ico">
									<p class="social-handle">
										<a href="https://reddit.com/u/<%- user.social.reddit %>" target="_blank">/u/<%- user.social.reddit %></a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="card">
						<div class="card-header">
							Favorite Maps
						</div>
					</div>
					<hr>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							Certifications
						</div>
						<div class="card-body d-flex flex-row flex-wrap align-items-center justify-content-center">
							<% if (user.certifications.length > 0) { %>
								<% user.certifications.forEach(certification => { %>
									<% let certData = SETTINGS.SITE.CERTIFICATIONS[certification.certificationType]; %>
									<span class="certification badge badge-primary mb-2 mr-2" style="background: <%= certData.backgroundColor %>; color: <%= certData.textColor %>"><%= certification.name || certData.name %></span>
								<% }); %>
							<% } else { %>
								Unfortunately, this person isn't known for anything.
							<% } %>
						</div>
					</div>
					<hr>
				</div>
			</div>
			<hr>
			<div class="profile-map-container">
				<%- include('maplister'); %>
			</div>
		</main>

		<%- include('bodyscripts') %>
		
		<script type="text/javascript" src="/js/profile.js"></script>
	</body>
</html>