<!doctype html>
<html lang="en">
	<head>
		<%- include('head') %>

		<link rel="stylesheet" type="text/css" href="/css/home.css">

		<title>Fortunate Maps - Search</title>
	</head>
	<body>
		<%- include('nav'); %>

		<main role="main" class="container">
			<div class="text-center">
				<code>
					<%=
						[
							(parsedQuery.query.length !== 0 ? `Query: ${parsedQuery.query}` : null),
							(parsedQuery.tag.length !== 0 ? `Tags: ${parsedQuery.tag.join(", ")}` : null),
							(parsedQuery.author.length !== 0 ? `Authors: ${parsedQuery.author.join(", ")}` : null),
							(parsedQuery.authorText.length !== 0 ? `Author Text: ${parsedQuery.authorText.join(", ")}` : null)
						].filter(t => t).join(" | ")
					%>
				</code>
			</div>
			<hr>
			<div class="map-container">
				<%- include('maplister'); %>
			</div>

			<%- include('pagination'); %>
		</main>

		<%- include('bodyscripts') %>
		<script type="text/javascript" src="/js/preview_gen.js"></script>
	</body>
</html>