<!doctype html>
<html lang="en">
	<head>
		<%- include('head') %>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
		<link rel="stylesheet" type="text/css" href="/css/settings.css">

		<title>Fortunate Maps - Settings</title>
	</head>
	<body>
		<%- include('nav'); %>

		<main role="main" class="container">
			<h1 class="text-center">Settings</h1>
			<hr>
			<div class="settings-form">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">Left-aligned navbar</span>
					</div>
					<div class="input-group-append">
						<div class="input-group-text">
							<input type="checkbox" class="local-setting" data-setting="leftAlignedNavbar">
						</div>
					</div>
				</div>
				<div class="input-group mt-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Preview Texture Pack</span>
					</div>
					<div class="input-group-append">
						<select class="form-select local-setting" id="texturePackSelector" data-setting="texturePack">
							<option selected>Choose...</option>
						</select>
					</div>
				</div>
				<hr>
				<b>Socials</b>
				<div class="input-group mt-2">
					<input type="text" class="form-control" id="discordSocialInput" value="<%- profile.social.discord %>" maxlength="30" placeholder="Discord Username">
					<input type="text" class="form-control" id="redditSocialInput" value="<%- profile.social.reddit %>" maxlength="30" placeholder="Reddit Username">
				</div>
				<hr>
				<b>Biography</b>
				<div class="markdown-container mt-2">
					<textarea id="biographyInput"><%= profile.bio %></textarea>
				</div>
				<hr>
				<button class="btn btn-primary w-100" id="settingsBtn">Save Settings</button>
				<hr>
				<%- profile.isAdmin ? `
				<button class="btn btn-danger w-100" id="sendAnnouncementBtn">Send Announcement</button>
				<hr>
				` : "" %>
			</div>
		</main>

		<%- include('bodyscripts') %>
		<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
		<script type="text/javascript" src="/js/settings.js"></script>
	</body>
</html>